@import "./variables.scss";

html {
  padding-left: 48px;
}

body {
  margin: 0;
}

html,
body {
  background-color: #444444;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.main-actions {
  position: fixed;
  top: 0;
  left: 0;
  width: 48px;
  height: 100%;
  background-color: rgb(51, 51, 51);
  display: flex;
  flex-direction: column;

  .action-list {
    padding: 0;
    margin: 0;

    .action-item {
      overflow: hidden;
      padding: 0.5em;

      img {
        width: 100%;
        filter: grayscale(100%) brightness(0.45);
      }

      &.active {
        border-left: 2px solid white;

        img {
          filter: grayscale(100%);
        }
      }

      &:hover {
        cursor: pointer;
        img {
          filter: grayscale(100%);
        }
      }
    }
  }
}

.main-content {
  position: absolute;
  left: 48px;
  top: 0;
  width: calc(100% - 48px);
  height: 100%;
}
